doctype html

html(lang='pt')

  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no')
    link(href=require('./styles/fat.less') rel='stylesheet')

    title
      - var version = require('../package.json').version
      | senado.essencial #{version}

  body
    .sf-component
      include pug/commons/navglobal
    include pug/fat/portaltopo

    .sf-component
      .sf-container
        p.eta senado.essencial
          span.milli.text-muted  #{version}

    include pug/commons/deaaz
    include pug/fat/footer
    include pug/commons/analytics
